# Sensitive Data
.env

# Python Environment & Cache
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.claude
.vscode/

# Project Specific Logs
*.log
stats.json
supplies.json
config.json

#Custom Debug Prefix (Ignores all files/folders starting with _debug)
_debug*
_bk_*
_bk_zzz/

# OS Specific
.DS_Store
Thumbs.db

query_bridge/
uo_packet_injector/target2/
docs/debug_scripts/
uo_packet_injector/target/